.firstLevel {
	display: grid;
	align-items: center;

	transition: color 0.2s ease-in-out;

	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.firstLevel svg {
	transition: fill 0.2s ease-in-out;
}

.firstLevelActive {
	color: var(--primary);
}

.firstLevelActive svg {
	fill: var(--primary);
}

.firstLevel:hover {
	color: var(--primary-hover);
}

.firstLevel:hover svg {
	fill: var(--primary-hover);
}

.secondLevel {
	margin-bottom: 10px;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--gray-dark);

	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
}

.secondBlock {
	margin: 15px 0 15px 12px;
	padding-left: 32px;

	border-left: 1px solid #DFDFDF;
}

.secondLevelBlock {
	display: none;
}

.secondLevelBlockOpened {
	display: block;
}

.secondLevelBlockOpened:last-child {
	margin-bottom: 20px;
}

.thirdLevel {
	display: block;

	margin-bottom: 10px;

	cursor: pointer;
	transition: color 0.2s ease-in-out;

	color: var(--gray-dark);

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
}

.thirdLevelActive {
	color: var(--primary);
}

.thirdLevel:hover {
	color: var(--primary-hover);
}
