.sortIcon {
  display: none;
}

.active {
  color: var(--primary);
  font-weight: 700;
}
.active .sortIcon {
  display: block;
  margin-right: 8px;
}

.sort {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
}
.sort span {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 8px;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}
.sort span:not(.active):hover {
  color: var(--primary-hover);
}

.sort span:not(.active) {
  grid-template-columns: 1fr;
}
